In [1]:
import pandas as pd
%pip install openpyxl

Requirement already satisfied: openpyxl in /lustre/work/client/users/akage/.conda/envs/datascience/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /lustre/work/client/users/akage/.conda/envs/datascience/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
judge = pd.read_excel("~/TX_appleseed_lenders_public/data/DallasCounty_EvictionJudgements(1).xlsx", engine='openpyxl')

In [4]:
judge['comments'].str.split(' ')

0       [021822, PER, JUDGE, CASE, RESET, BRING, PROOF...
1       [003112, JUDGMENT, BY, DEFAULT/DEF, NO, SHOW/D...
2       [021722, RECVD, EMAIL, DEFT, ANSWER/LR, , , , ...
3       [022522, REST, TRIAL, DUE, TO, INCLEMENT, WEAT...
4       [022522, REST, TRIAL, DUE, TO, INCLEMENT, WEAT...
                              ...
9026       [061722, RULED, IN, FAVOR, OF, PALINTIFF...YG]
9027               [061722, JUDGMENT, FOR, DEFENDANT..YG]
9028                  [061722, JUDGMENT, BY, DEFAULT..YG]
9029    [061722, DIMISS, FOR, WANT, OF, PROSECUTION...YG]
9030    [060922, PL, BRGT, IN, REQ, FOR, DISMISSAL/JUD...
Name: comments, Length: 9031, dtype: object

In [5]:
judge['judgment_amt'].values

array([1735.  , 7727.79, 6894.  , ..., 3407.5 , 5152.  ,    0.  ])

In [6]:
len(judge[(judge['judgment_amt']!='     0.00')])

9031

In [7]:
judge[judge['comments'].str.contains('INTERP')]

,court_id,case_number,file_date,judgment_date,judgment_signed,judgment_amt,writ_issued,writ_agency,writ_returned,writ_how_returned,appeal_filed,rent_on_appeal_paid,total_paid,comments
980,11,2201281H,2022-03-02 00:00:00,2022-03-22,2022-03-22 00:00:00,0.0,NaT,NaN,NaN,NaN,NaT,NaT,214.0,031422 RESET TRIAL FOR SIGN LANGUAGE INTERPRET...
6049,12,2200711K,2022-04-28 00:00:00,2022-05-09,2022-05-09 00:00:00,0.0,NaT,NaN,NaN,NaN,NaT,NaT,134.0,05.09.22 JUDGMENT FOR THE PLAINTIFF FOR POSSE...
6985,52,2250452P,2022-01-31 00:00:00,2022-05-20,2022-05-20 00:00:00,1644.0,NaT,NaN,NaN,NaN,NaT,NaT,134.0,Z1822 DEFT IS DEAF NEED SIGN LANGUAGE INTERPRE...
7301,31,2202644A,2022-05-09 00:00:00,2022-05-23,2022-05-23 00:00:00,0.0,NaT,NaN,NaN,NaN,NaT,NaT,134.0,5/9/22 MSA FILED.STATUS NOT ACTIVE.TN ...
8416,52,2250218P,2022-01-20 00:00:00,2022-06-10,2022-06-10 00:00:00,3900.0,NaT,NaN,NaN,NaN,NaT,NaT,134.0,020722 RESET 2WKS ORDER SIGN LANGUAGE INTERPR...

In [8]:
judge[(judge['judgment_amt']!='     0.00')&(judge['comments'].str.contains('DEFAULT'))]

,court_id,case_number,file_date,judgment_date,judgment_signed,judgment_amt,writ_issued,writ_agency,writ_returned,writ_how_returned,appeal_filed,rent_on_appeal_paid,total_paid,comments
1,11,2200752H,2022-02-08 00:00:00,2022-03-11,2022-03-11 00:00:00,7727.79,NaT,NaN,NaN,NaN,NaT,NaT,134.0,003112 JUDGMENT BY DEFAULT/DEF NO SHOW/DEF HAS...
2,11,2200803H,2022-02-10 00:00:00,2022-03-11,2022-03-11 00:00:00,6894.00,NaT,NaN,NaN,NaN,NaT,NaT,134.0,021722 RECVD EMAIL DEFT ANSWER/LR ...
3,11,2200836H,2022-02-11 00:00:00,2022-03-08,2022-03-08 00:00:00,2625.09,NaT,NaN,NaN,NaN,NaT,NaT,134.0,022522 REST TRIAL DUE TO INCLEMENT WEATHER/MLD...
4,11,2200837H,2022-02-11 00:00:00,2022-03-08,2022-03-08 00:00:00,3062.25,NaT,NaN,NaN,NaN,NaT,NaT,134.0,022522 REST TRIAL DUE TO INCLEMENT WEATHER/MLD...
6,11,2200839H,2022-02-11 00:00:00,2022-03-08,2022-03-08 00:00:00,2575.80,NaT,NaN,NaN,NaN,NaT,NaT,134.0,022522 RESET TRIAL DUE TO INCLEMENT WEATHER/ML...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9016,52,2251661P,2022-05-25 00:00:00,2022-06-15,2022-06-15 00:00:00,0.00,NaT,NaN,NaN,NaN,NaT,NaT,134.0,061522 JUDGMENT BY DEFAULT SNP
9020,52,2251665P,2022-05-25 00:00:00,2022-06-15,2022-06-15 00:00:00,1530.00,NaT,NaN,NaN,NaN,NaT,NaT,134.0,"061522 JUDGMENT BY DEFAULT 1,530.00 SNP"
9022,52,2251667P,2022-05-26 00:00:00,2022-06-17,2022-06-17 00:00:00,1025.00,NaT,NaN,NaN,NaN,NaT,NaT,214.0,061722 JUDGMENT BY DEFAULT...YG
9023,52,2251668P,2022-05-26 00:00:00,2022-06-17,2022-06-17 00:00:00,0.00,NaT,NaN,NaN,NaN,NaT,NaT,134.0,061722 JUDGEMENT BY DEFAULT..POSSESSION ONLY S...
9028,52,2251688P,2022-05-31 00:00:00,2022-06-17,2022-06-17 00:00:00,3407.50,NaT,NaN,NaN,NaN,NaT,NaT,134.0,061722 JUDGMENT BY DEFAULT..YG

In [11]:
record = pd.read_excel("~/TX_appleseed_lenders_public/data/DallasCounty_HistoricalEvictionRecords(1).xlsx", engine='openpyxl')

In [12]:
record = record.fillna('No Data')

In [13]:
data = pd.merge(judge,record, left_on='case_number', right_on='case_number', how='inner')

In [14]:
data.to_csv('~/TX_appleseed_lenders_public/data/evictions_historic_merged.csv')

In [15]:
js = set(judge['case_number'].values)
rs = set(record['case_number'].values)

In [16]:
len(js.difference(rs))

133

In [17]:
len(rs.difference(js))

176456

In [18]:
len(js.intersection(rs))

8778

In [19]:
judge['case_number'].value_counts()[:115]

case_number
2200241D    3
2220572O    3
2200091D    3
2200458D    3
2200232D    3
           ..
2221327O    2
2220603O    2
2200439D    2
2201957A    1
2202249A    1
Name: count, Length: 115, dtype: int64

In [20]:
judge[judge['case_number']=='2200232D']['comments'].values

array(["03/08/22 PER JUDGE O'BRIEN-CASE RESET TO 03/22/22 @1PM/VMM",
       "03/08/22 PER JUDGE O'BRIEN-CASE RESET TO 03/22/22 @1PM/VMM  03/22/22 PER JUDGE O'BRIEN-CASE RESET TO 04/05 @1PM/VMM",
       "03/08/22 PER JUDGE O'BRIEN-CASE RESET TO 03/22/22 @1PM/VMM  03/22/22 PER JUDGE O'BRIEN-CASE RESET TO 04/05 @1PM/VMM     04/05/22 COUNSEL FILED ENTRY OF APPEARANCE _TC              04/05/22 PER JUDGE O'BRIEN-CASE ABATED FOR 60 DAYS/LAW"],
      dtype=object)